.img1{height: 150px; width: 250px;
   float:right;
   }
.oggy{
        height: 150px; width: 250px;
        float:left;
      }
p{ background-image: url(oggy\ wallpaper.jpg);
   padding-bottom: 100px;
}
h2:nth-child(1){
   text-align: center;
   color: blueviolet;
   background-color: black;
   position: sticky;
   top: 0;
}
h2:nth-child(2){ text-align: center;
   width: 100px;
   height: 50px;
   color: black;
   background-color: darkblue;
   position: fixed;
   bottom: 10px;
   left: 10px;
}
h2::after{
   content: url(download\ \(4\).jpg);
}
p::first-letter{
   color: green;
   font-size: 50px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p::first-line{
   color: greenyellow;
   font-size: 30px;
}
