.flex{
    width: 100%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    
}
.flex > h2{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: rgb(73, 4, 138);
    margin: 5px;
    border: 10px double rgb(26, 6, 44);
    padding: 5px;
    box-shadow: 5px 5px 7px black;
}
.box1{
    background-color: brown;
}
.box2{
    background-color: greenyellow;
}
.box3{
    background-color: gray;
}
.box4{
    background-color: blue;
}
