.box{ height: 300px;
    width: 300px;
    border:5px double rgb(230, 21, 14);
    background-image: url(download\ \(4\).jpg);
    margin: 100px; top: 100px;
    text-align: center;
    box-shadow: 10px 10px 7px rgb(151, 53, 241),-10px -10px 7px rgb(151, 53, 241);
    transform: rotate(30deg); 
     transition-property: all;
     transition-duration: 1sec;
     
    }
.box:hover{
      width: 150px;
    height: 150px;
    transform: rotate(30deg);
    transition: all;
}
h3{
    font-size: 50px;
    text-align: center;
    text-shadow: -5px 5px 5px rgb(23, 6, 39);
    color: rgb(23, 3, 41);
    text-shadow: -5px 5px 3px rgb(53, 28, 77);

        font-family: "Sevillana", cursive;
        font-weight: 400;
        font-style: normal;
}









